
body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    overflow: hidden;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
}
.logo {
    max-width: 650px;
    height: auto;
    z-index: 10;
    left: 0;
    display:absolute;
}

.forgot-container {
    display: flex;
    height: 100vh; 
}

.input-label{
    margin-top: 1000px;
}

.right-section{
    height: 100%;
    background: linear-gradient(135deg, rgba(44, 127, 55, 0.6) 0%, rgba(56, 90, 60, 0.95) 100%);
    display: flex;  
}

p{
    margin-bottom:20px;
    display: inline-block;
    font-size:16px;
}